.groupIcon {
  width: 120px;
  position: relative;
  height: 23.7px;
}

.buildingAiPoweredCyber {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}

.flex1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.vectorIcon {
  position: absolute;
  height: 99.58%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0.42%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.socialMediaIcon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}

.vectorIcon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.socialMediaIcon1 {
  width: 24px;
  position: relative;
  height: 24px;
}

.vectorIcon2 {
  position: absolute;
  height: 82.92%;
  width: 91.67%;
  top: 7.93%;
  right: 4.17%;
  bottom: 9.15%;
  left: 4.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vectorIcon3 {
  position: absolute;
  height: 100.42%;
  width: 100%;
  top: 2.77%;
  right: -0.1%;
  bottom: 14.81%;
  left: 0.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vectorIcon4 {
  position: absolute;
  height: 100%;
  width: 99.58%;
  top: 0%;
  right: 0.42%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.flex3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.flex {
  width: 565px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 48px 0px 0px;
  box-sizing: border-box;
  gap: 24px;
  min-width: 376px;
}

.solutions {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 600;
}

.flexVertical {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}

.column {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: initial;
  gap: 16px;
}

.company {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}

.column1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}

.grid {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}

.separator1 {
  align-self: stretch;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  height: 1px;
}

.separator {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.rewanAllRights {
  position: relative;
  line-height: 24px;
}

.flex5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}

.flex4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 24px;
  box-sizing: border-box;
  gap: 64px;
  max-width: 1280px;
}

.proBlocksFooter7 {
  width: 100%;
  position: relative;
  background-color: #341539;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 96px 0px;
  box-sizing: border-box;
  text-align: left;
  font-size: 16px;
  color: #fafafa;
  font-family: 'Inter';
}